* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header {
    height: 100px;
    background-color: #000000;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    max-width: 1140px;
    height: 100px;
}

.logo {
    width: 100px;
}

.logo img {
    width: 80px;
    height: 80px;
}

.menu-opener {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000000;

}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCCCCC;
}

.button {
    cursor: pointer;
    border: none;
    display: inline-block;
    background-color: #B28756;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 20px;
}

main .banner {
    height: calc(100vh - 100px);
    /*100px do header*/
    background-color: #333333;
    background-image: url(../images/backgrounds/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    /*esconde tudo o que passar (remove as barras de rolagem)*/
}

.banner .sliders {
    width: 1000vw;
    /*suporte para 10 slides*/
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slideArea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    flex-direction: column;
}

.banner .slideArea h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

.banner h1 span {
    text-transform: uppercase;
    color: #B28756;
    display: flex;
    justify-content: center;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .slidersPointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.banner .pointer.active, .pointer:hover {
    /*se tiver as 2 classes aplica os efeitos*/
    background-color: #B28756;
}

.default {
    padding: 50px 0;
}
    
.default .sectionTitle, .default .sectionDesc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .sectionTitle {
    font-size: 20px;
}

.default .sectionDesc {
    font-size: 13px;
    color: #CCCCCC;
    margin: 10px 0 40px 0;
}

.default .sectionBody {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .sectionTitle, .default.light .sectionBody {
    color: #000000;
}

.default.dark {
    background-color: #000000;
}

.default.dark .sectionTitle, .default.dark .sectionBody {
    color: #F7F7F7;
}

footer {
    background-color:#000000;
    padding:20px;
}
.footer--area {
    max-width:1140px;
    margin:auto;
    color:#FFFFFF;
    display:flex;
}
.footer--item {
    flex:1;
}
.footer-social {
    display:flex;
}
.footer-social a {
    display:block;
    width:25px;
    height:25px;
    background-color:#333333;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:13px;
    margin-right:10px;
}
.footer-social a:hover {
    background-color:#B28756;
}
.footer-social img {
    height:10px;
}
.footer--item.area2 {
    color:#999999;
    line-height:20px;
    font-size:13px;
    padding:0 30px;
    text-align: justify;
}
.footer--item.area3 form {
    background-color:#333333;
    text-align:center;
    padding:30px;
}
.footer--item.area3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCCCCC;
    outline:0;
    color:#FFFFFF;
    font-size:14px;
    text-align:center;
}

/*ÁREAS ESPECÍFICAS*/

.section-about-us {
    display: flex;
}

.section-about-us--left {
    flex: 1;
}

.section-about-us--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-about-us--right {
    width: 520px;
    text-align: center;
}

.section-about-us--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #000000;
}

.section-services {
    display: flex;
    align-items: center;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333333;
    padding: 15px;
}

.section-service:nth-child(1) {
    border-left: 1px solid #333333;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999999;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #333333;
    background-color: #EEEEEE;
    border-radius: 30px;
    display: inline-block; /*Reduz o tamanho do menu*/
    padding: 0px 20px;
    margin: auto;
}

.section-projects--filters ul, .section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    text-align: center;
    display: inline-block;
    margin-left: -3px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #555555;
    border-left: 2px solid #CCCCCC;
    border-bottom: 5px solid #EEEEEE;
    cursor: pointer;
}

.section-projects--filters li:hover, .section-projects--filters li.active {
    border-bottom: 5px solid #B28756;
}

.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img { 
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    display: none;
} 

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoinfo p {
    margin-top: 5px;
    text-align: center;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
    cursor: pointer;
}

.bg-team {
    background-image: url('../images/backgrounds/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 0;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    /*suporte para 10 slides*/
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFFFFF;
    margin-right: 20px;
}

.section-team .slideArea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000000;
    flex-direction: column;
    padding: 30px;
}

.section-team-area .slidersPointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;    
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    color: #999999;
    font-size: 14px;
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #999999;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.section-team--social a:hover {
    background-color: #B28756;
}

.testimonials .sectionBody {
    max-width:initial;
}
.section-testimonials {
    overflow:hidden;
}
.section-testimonials .sliders {
    width:1000vw;
    height:100%;
}
.section-testimonials .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}

.section-testimonials--avatar {
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:#B28756;
}

.section-companies {
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
}
.section-companies--area {
    display:flex;
    align-items:center;
}
.section-company {
    flex:1;
    text-align:center;
}

.section-price {
    display:flex;
}
.section-price--item {
    flex:1;
    background-color: #FFFFFF;
    margin-right: 20px;
    padding:20px;
    text-align:center;
}
.section-price--item:last-child {
    margin-right:0;
}
.section-price--item-name {
    text-transform: uppercase;
    font-size:13px;
    font-weight:600;
}
.section-price--item-money {
    font-weight: bold;
    font-size:22px;
    margin-top:10px;
}
.section-price--item-period {
    color:#999999;
    text-transform: uppercase;
    margin-bottom:20px;
}
.section-price--item-point {
    font-size:12px;
}

.premium {
    background-color:#FFFFFF !important;
    border-top:1px solid #CCCCCC;
}
.premium .sectionBody {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCCCCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
}


.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:#B28756;
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid #B28756;
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999999;
}

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFFFFF;
    color:#999999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCCCCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height:12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCCCCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}

.section-map {
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
}

.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map--info {
    width: calc(50% - 20px);
    padding: 30px;
    background-color: #FFFFFF;
    color: #000000;
}

.section-map--info-item {
    display: flex;
    align-items: center;
    color: #999999;
    margin-bottom: 10px;
}

.section-map--info-item-img {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 5px;
    background-color: #999999;
    border-radius: 50%;
    margin-right: 10px;
}

.section-map--info-item-img img {
    width: 15px;
    height: auto;
}

.footer--item {
    margin-bottom:20px;
}
.footer-social {
    justify-content: center;
}

/*RESPONSIVIDADE*/

@media (min-width: 450px) and (max-width: 820px) {
    nav {
        display: none;
        position: absolute;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.9);
        width: 60vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    
    .logo {
        margin-left: 15px;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }

    .menu-opener {
        width: 40px;
        margin-right: 30px;
        display: block;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        height: 80px;
        font-size: 25px;
        font-weight: bold;
        margin-left: 50px;
        border: none;
    }

    .menu li a:hover {
        border: none;
    }

    .menu li.active a {
        border: none;
        color: #B28756;
    }

    .default.light .sectionTitle, .default.dark .sectionTitle{
        font-size: 30px;
    }

    .default.light .sectionDesc, .default.dark .sectionDesc{
        font-size: 17px;
    }

    .section-about-us {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
    }

    .section-about-us--left p {
        text-align: justify;
        font-size: 17px;
    }
    .section-about-us--left p a{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        margin: 20px auto;
    }

    .section-about-us--right {
        margin: 20px 0 0 0;

    }

    .section-services {
        flex-wrap: wrap;
    }

    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
    }

    .section-service:first-child {
        border: none;
    }

    .section-team {
        max-width: 580px;
    }

    .section-facts {
        display: flex;
        flex-wrap: wrap;
    }

    .section-fact {
        min-width: 50%;
    }

    .section-fact h4 {
        font-size: 16px;
    }

    .section-map--info {       
        width: auto;
        margin: 25px 60px;
    }
    .section-map--info-item {
        margin-bottom: 20px;
    }

    .footer--item area2 {
        font-size: 17px;
    }
}